*{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    
}
head{
    
    
    display: flex;
    padding: 55px ;
    max-width: 1920px;
    align-items: flex-start;
    width: 1920px;

}

body{
background-color: #E7F0DC;
}
.colegio-do-porto{
    top: 15px;
    font-size: 70px;
    position: absolute;
   color: black;
   font-family:unset;
   justify-content: start;
   left: 700px;
    
}
.desenvolvimento-e-progresso{
    font-size: 50px;
    position:relative;
    color: black;
    justify-content: center;
    left: 660px;
}

.navbar{
    background-color:#597445;
    padding: 10px 0;
}

.navbar ul{
   list-style:none;
   padding: 0 ; 
   display: flex;
   margin: 0 15px;
   justify-content: center;
}

.navbar ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3 ease #fff;
    font-size: 18px;
}

.navbar ul li{
    margin: 0 15px;
}

.navbar ul li a:hover{
color: #E7F0DC;
text-decoration: underline green    ;
border-radius: 100px;
transition: 500ms;
}

.texto-do-meio{
    font-size: 22px;
    margin: 30px 50px;
    letter-spacing: 0,5px ;
    line-height: 35px;
}

.escola-subtitulo{
    font-size: 50px;
    text-align: center;
    margin: 25px;
}
.historia{
margin: 55px;
font-size: 50px;
text-align: center;
}
.sobre-nos{
    font-size: 22px;
    margin: 30px 50px;
    letter-spacing: 0,5px ;
    line-height: 35px;
    padding: 25px;
    background-color: #59744565;
    border-radius: 25px;
}
.serviços{
    margin: 55px;
    font-size: 50px;
    text-align: center;
}
.detalhe{
    text-align: center;
    margin: 55px;
    font-size: 22px ;
    line-height: 35px;
    padding: 25px;
    border-radius: 10px;
    background-color: #8cff0027;
}
.contato-tamanho{
    margin: 55px;
    text-align: start;
}
.icone_link{
    font-size: 25px;
}
footer{
    background-color: #597445  ;
    padding: 25px;
}
.icone_baixo{
    text-align: center;
    font-size: 15px;
}


